.about-section {
  display: flex;
  flex-direction: column;
  margin: 75px auto 0;
  padding: 45px;

  @media screen and (min-width: $screen-sm) {
    flex-direction: row;
  }

  .text-container {
    width: 100%;
    margin-bottom: 25px;

    @media screen and (min-width: $screen-sm) {
      width: 65%;
      margin-bottom: 0;
    }

    &__title, &__subtitle {
      padding-bottom: 10px;
    }

    &__title, &__subtitle, &__copy {
      font-family: "proxima-nova",sans-serif;
      text-align: left;
    }

    &__title {
      font-size: 28px;
      font-weight: 100;
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 100;

      span {
        font-weight: 100;
      }
    }

    &__copy {
      font-size: 14px;
      font-weight: 400;
      padding-right: 50px;
    }
  }

  .img-container {
    width: 100%;
    @media screen and (min-width: $screen-sm) {
      width: 35%;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
