.content-fragment {
    color: $gray;
    font-family: "proxima-nova",sans-serif;
    font-size: 16px;
    padding: 165px 45px 0px 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $screen-sm) {
        padding: 125px 45px 0px 45px;
    }

    ul {
        list-style-type: none;
    }

    li:hover {
        transform: scale(1.03);
        transition-duration: .25s;
        box-shadow: 0px 0px 46px 9px rgba(151, 147, 147, 0.25);
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 25px;
        border: .25px solid $gray;
        padding: 10px;
        cursor: pointer;

        @media (min-width: $screen-sm) {
            flex-direction: row;
        }
    }

    span {
        font-weight: bold;
        margin-right: 5px;
    }

    &__text-container {
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (min-width: $screen-sm) {
            width: 80%;
        }   
        
    }

    &__img-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        @media (min-width: $screen-sm) {
            width: 20%;
            margin-top: 0px;
        }   

        img {
            max-width: 100%;
            height: auto;
        }
    }
};